<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    
    <ion-toolbar class="title">
      <ion-title>Detalhes</ion-title>
    </ion-toolbar>
    <div  *ngIf="barbearia$ |async as barbearia">
        <ion-item>
            <ion-avatar slot="start">
              <img src="https://cdn.shopify.com/s/files/1/0408/8473/articles/header_10-barbearias_2048x.jpg?v=1537831342">
            </ion-avatar>
            <ion-label>
              <h2 class="label"><ion-icon name="cut"></ion-icon>{{barbearia.nome}}</h2>
              <h3 class="label"><ion-icon name="person"></ion-icon>{{barbearia.nomeBarber}}</h3>
              <h4 class="label"><ion-icon name="pin"></ion-icon>{{barbearia.endereco}}</h4>
            </ion-label>
          </ion-item>
    </div>
  <ion-list>
    <ion-item>
      <ion-label class="label" value="agendamento.dataDoAgendamento" name="dataDoAgendamento">Data: {{agendamento.dataDoAgendamento | date: 'dd/MM/yyyy'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="label">
        Horário: {{agendamento.horaDoAgendamento | date: 'HH:mm' }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="label" *ngFor="let s of agendamento.servico">
        Serviço: {{s.nome}}</ion-label>
    </ion-item>
    <ion-item>
    <ion-label class="label" *ngFor="let s of agendamento.servico">
      Preço: {{s.preco}}</ion-label>
  </ion-item>
  </ion-list>
  <ion-button color="dark" (click)="confirmar()" expand="full">Confirmar</ion-button>
</ion-content>