<ion-content padding >
  <div>
    <img class="logo-img" src="../../assets/logo.png">
  </div>
  <div class="form">
  <form class="f text-center">
    <div class="form-group">
      <input type="email" class="form-control" name="login" [(ngModel)]="user.login"  placeholder="E-mail">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="senha" placeholder="Senha" [(ngModel)]="user.senha">
    </div>
    <button type="submit" class="btn btn btn-dark" (click)=logar()>Entrar</button>
    <small class="text-center text-white">Esqueceu a senha? | <a href="" class="">Cadastre-se</a></small>
  </form>
</div>
</ion-content>
