<ion-content padding >
  <ion-list class="mgt">
    <ion-item >
      <ion-label>Usuário</ion-label>
      <ion-input id="opacity" type="text" autofocus [(ngModel)]="txtUser"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label>Senha</ion-label>
      <ion-input id="opacity"  type="password" [(ngModel)]="txtSenha"></ion-input>
    </ion-item>   
</ion-list>
<p class="small text-danger text-center">{{erro}}</p>
<ion-button (click)="logar()" expand="block">Entrar</ion-button>
<p class="text-center"><a  href="/register">Cadastre-se</a></p>
</ion-content>
