<ion-content padding >
  <h1 class="text-center">Login</h1>
  <div class="form">
  <form class="f">
    <div class="form-group">
      <label>Usuário:</label>
      <input type="email" class="form-control" name="login" [(ngModel)]="user.login"  placeholder="E-mail">
      
    </div>
    <div class="form-group">
      <label>Senha:</label>
      <input type="password" name="senha" placeholder="Senha" [(ngModel)]="user.senha">
    </div>
    <button type="submit" class="btn btn-danger" (click)=logar()>Entrar</button>
  </form>
</div>
</ion-content>
