// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


ion-toolbar{
    --background: url('../assets/1.jpg');
}

.icon-contact{
    font-size: 40px;
    margin-left: 10px;
    margin-top: 10px;
}

p.name{
    font-size: 15px;
    color: orangered;
    padding: 5px 10px;
    font-weight: bold;
    font-family: sans-serif;
    background: #000;
    opacity: 0.8;
}
p.email{
    
    font-size: 10px;
    color: orangered;
    padding: 4px 10px;
    font-weight: bold;
    font-family: sans-serif;
    background: #000;
    opacity: 0.8;
    position: relative;
    top: -8px;

}

ion-content.fundo .fundo .item{
    --background: transparent;
  }

.item {
    background: inherit;
    font-family: inherit;
    font-family:  Helvetica, sans-serif !important;
    font-weight: bold;
}

.label{
    color: inherit;
    font-family: inherit;
}

ion-label.label{
    color: #ebeaea !important;
    font-family:  Helvetica, sans-serif !important;
    opacity: 0.8;
}