// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


ion-toolbar{
    --background: #cecece;
}

.icon-contact{
    font-size: 40px;
    margin-left: 10px;
}

.name{
    font-size: 12px;
    color: #fff;
    margin-left: 10px;
    font-weight: bold;
    font-family: sans-serif;
}
.email{
    font-size: 10px;
    color: #fff;
    margin-left: 10px;
    margin-top: -15px;
    font-family: sans-serif;

}