<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-item (click)="goAgenda()">
    <ion-label>
      Agenda
    </ion-label>
    <ion-icon name="calendar" slot="start"></ion-icon>
  </ion-item>
  <ion-item (click)="goEditarBarbearia()">
    <ion-label>
      Editar Barbearia
    </ion-label>
    <ion-icon name="create" slot="start"></ion-icon>
  </ion-item>
</ion-content>
