<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-toolbar class="bgtitle">
      <ion-title class="title">Agenda</ion-title>
  </ion-toolbar>

  <ion-list *ngIf="espera">
  <ion-item >
    <ion-list-header class="title">
        Lista de Espera
      </ion-list-header>
    </ion-item>

    <ion-item *ngFor="let ag of espera">
        <ion-label>{{ag.servico}}</ion-label>
    </ion-item>
    
  </ion-list>
  <ion-list *ngIf="agendamentos$ |async as ag">
      <ion-item >
        <ion-list-header class="title">
            Lista de Espera
          </ion-list-header>
        </ion-item>
  
        <ion-item *ngFor="let finalizado of ag">
            <ion-label>{{finalizado.servico}}</ion-label>
        </ion-item>
        
      </ion-list>
</ion-content>