<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start" >
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
    <ion-item href="">
        <ion-label>
          Editar perfil
        </ion-label>
        <ion-icon name="create" slot="start"></ion-icon>
      </ion-item>
      <ion-item (click)="sair()">
          <ion-label>
            Sair
          </ion-label>
          <ion-icon name="exit" slot="start"></ion-icon>
        </ion-item>
</ion-content>
