<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
    <ion-toolbar class="bgtitle">
        <ion-title class="title">Agendamentos</ion-title>
    </ion-toolbar>
    <br>
    <div *ngFor="let ag of agendamentos">
      <p *ngFor="let s of ag.servico">Serviço: {{s.nome}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; R$ {{s.preco}}</p>
          <p> Data e Hora: {{ag.dataDoAgendamento | date: 'dd/MM/yyyy'}} {{ag.horaDoAgendamento | date: 'HH:mm' }}</p>
          
          <hr>
        </div>
       
</ion-content>
