<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
    <ion-toolbar class="bgtitle">
        <ion-title class="title">Agendamentos</ion-title>
    </ion-toolbar>
    <br>
    <ion-item >
      <ion-list-header class="title">
          Lista de Não Finalizados
        </ion-list-header>
      </ion-item>
    
    <div *ngFor="let ag of espera">
      <p *ngFor="let s of ag.servico">Serviço: {{s.nome}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; R$ {{s.preco}}</p>
        <p> Data e Hora: {{ag.dataDoAgendamento | date: 'dd/MM/yyyy'}} {{ag.horaDoAgendamento | date: 'HH:mm' }}</p>
        <hr>
      </div>
    
    <p *ngIf="espera.length === 0" class="text-center">Sem resultados!</p>

  <div *ngIf="finalizado">
      <ion-item >
        <ion-list-header class="title">
            Lista de Finalizados
          </ion-list-header>
        </ion-item>
        
    
        <div *ngFor="let ags of finalizado">
          <p *ngFor="let s of ags.servico">Serviço: {{s.nome}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; R$ {{s.preco}}</p>
            <p> Data e Hora: {{ags.dataDoAgendamento | date: 'dd/MM/yyyy'}} {{ags.horaDoAgendamento | date: 'HH:mm' }}</p>
            
            <hr>
        </div>
        
      </div>
       
</ion-content>
