h1{
    font-size: 25px;
}
.title {
    font-size: 30px;
    font-family:  Helvetica, sans-serif;
      background-color: rgba(0,0,0,0.5);
      color:#fff;
      text-align: center;        
}

.end {
    font-weight: bold;
}

.fundo {
    background-image: url(../../assets/1.jpg);
}

.btn {
    background-color: #EE0000;
    margin: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

  ion-card{
    box-shadow: 5px 5px 15px #000;
  }