<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start" >
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content> 
  <div  *ngIf="barbearia$ |async as barbearia" >
    <div>
        <h1 class="text-center">{{barbearia.nome}} </h1>
        <p class="text-center">Endereço: {{barbearia.endereco}}</p>
        <p class="text-center">Telefone: {{barbearia.telefone}}</p>
        <img src="https://cdn.shopify.com/s/files/1/0408/8473/articles/header_10-barbearias_2048x.jpg?v=1537831342">
        <ion-button color="dark" expand="full">Agendar horário</ion-button>
    </div>
</div>
     
</ion-content>
