<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText=""
          refreshingSpinner="circles"
          refreshingText="">
        </ion-refresher-content>
      </ion-refresher>

      
    <ion-toolbar class="bgtitle">
        <ion-title class="title">Barbearias</ion-title>
    </ion-toolbar>
    <div class="container" *ngIf="barbearias$ |async as barbearias">
        <div class="row barbearia" *ngFor="let barbearia of barbearias" routerLink="/barbearia/{{barbearia.key}}">
          <div class="col-4">
            <img class="mx-auto d-block" src="../../assets/fundo.jpg">
          </div>
          <div class="col-8">
            <span class="small">Barbeiro </span>
            <h3>{{barbearia.nomeBarber}} <span class="fa fa-star "> </span></h3>
            <p>{{barbearia.horarioAbert}} AM ás {{barbearia.horarioFecha}} PM</p>
            <p class="endereco"> {{barbearia.endereco}}</p>
            <p class="text ">Aberto agora</p>
          </div>
        </div>
      </div>
      
</ion-content>