.container{
    border-radius: 3px;
    box-shadow: 0 4px 4px -2px #ebeaea;
    margin-bottom: 10px;

    img{
    width: 75px;
    height: 75px;
    position: relative;
    top: 5px;
    border-radius: 50px;
    
}


.row {
    margin: 8px 0;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    border-radius: 5px;
}

h1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: #ebeaea;
    opacity: 0.8;
    padding-top: 4px;
   
}
p{
    font-size: 12px;
    color: #FF4500;
    font-family: 'Roboto', sans-serif;
}

.checked {
  color: #ebeaea;
}

#open{
    font-size: 12px;
    color: green;
    text-align: end;
    margin: -5px 0 0 0;
    font-family: 'Open Sans', sans-serif;
}
}

#status span {
    font-weight: bold;
    color: #FF4500;
}

#status {
    color: #ebeaea;
    margin: 0;
    text-align: right;
}

