<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText=""
          refreshingSpinner="circles"
          refreshingText="">
        </ion-refresher-content>
      </ion-refresher>

      
    <ion-toolbar class="bgtitle">
        <ion-title class="title">Barbearias</ion-title>
    </ion-toolbar>
    <div class="container" *ngIf="barbearias$ |async as barbearias">
        <div class="row barbearia" *ngFor="let barbearia of barbearias" routerLink="/barbearia/{{barbearia.key}}">
          <div class="col-4">
            <img class="mx-auto d-block" src="../../assets/fundo.jpg">
          </div>
          <div class="col-8">
            <h3 class="mt-3"><ion-icon name="cut"></ion-icon>{{barbearia.nome}}</h3>
            <h3><ion-icon name="person"></ion-icon>{{barbearia.service}}</h3>
            <span class="small"><ion-icon name="time"></ion-icon>{{barbearia.horarioAbert}} AM ás {{barbearia.horarioFecha}} PM</span>
            <span class="endereco"><ion-icon name="pin"></ion-icon> {{barbearia.endereco}}</span>
            <p name="status" *ngIf="barbearia.status === true" class="text">Aberto Agora</p>
            <p name="status" *ngIf="barbearia.status !== true" class="text2">Fechado Agora</p>
          </div>
        </div>
      </div>
      
</ion-content>