<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" >
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="fundo">
  <div class="container" *ngIf="barbearias$ |async as barbearias" >
    <div class="row" *ngFor="let barbearia of barbearias" routerLink="/barbearia/{{barbearia.key}}">
      <div class="col-4">
        <img src="../../assets/fundo.jpg">
      </div>
      <div class="col-8" >
        <h1 >{{barbearia.nome}} </h1>
        <p class=""><span class="fa fa-star checked"> 5,0 </span> |  1.2 km</p> 
        
        <p id="status" class="av"><span>Status:</span> Aberto agora</p>
      </div>
    </div>
  </div>
</ion-content>