.container{
    border-radius: 3px;
    margin-bottom: 10px;

    img{
    width: 75px;
    height: 75px;
    display: block;
    border-radius: 50px;
    position: relative;
    top: 20px;
    margin: auto;
}

.col-8 p {
    margin-bottom: 0;    
}

div.col-8{
    padding-left: 0;

    .small{
        position: relative;
        top: 6px;
        color: #313131;
    }
}
}
.bgtitle {
    --background: #313131;
    padding: 0;
    margin-bottom: 10px;
    text-align:left;
    color: #FFFAFA;
}

.title{
    font-size: 18px;
    text-align: center;
 }

.small {
    margin-bottom: 0;
    font-weight: bold;
    color: #313131;
}

.barbearia {
    border-top: #313131 solid 4px;
    background: #FFFAFA;
    box-shadow: 5px 10px 18px #000;
    margin-bottom: 20px;
    border-radius: 5px;
    
}

ion-content{
    --background: #FFFAFA;
}



.col-8 h3 {
    font-size: 20px;
    font-family: custom !important;
    font-weight: bold;
    color: #313131;
}


#status {
    color: #ebeaea;
    margin: 0;
    text-align: right;
}

.text {
    text-align: right;
    color: green;
}