<ion-content padding>
    <div>
        <img class="logo-img" src="../../assets/logo.png">
      </div>
      <div class="form">
      <form class="f text-center">
        <div class="form-group">
          <input type="text" class="form-control" name="login" [(ngModel)]="usuario.nome"  placeholder="Nome">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="login" [(ngModel)]="usuario.email"  placeholder="E-mail">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="senha" placeholder="Senha" [(ngModel)]="usuario.senha">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="senha" placeholder="Confirmar senha" [(ngModel)]="confirmSenha">
        </div>
        <button type="submit" class="btn btn btn-dark" (click)=confimSenha()>Registrar</button>
        <small class="text-center text-white">Já possui conta? | <a  (click)="login()"class="text-danger">Entrar</a></small>
      </form>
    </div>

</ion-content>
