ion-content{
  --background: url("../../assets/barber2.jpg") no-repeat center center / cover;; 
}
a{
  color: #FF4500;
  font-size: 12px;
  font-family: 'Noto Sans HK', sans-serif;
}
small{
  font-size: 12px;
  font-family: 'Noto Sans HK', sans-serif;
}

.logo-img{
  width: 100%;
  margin-top: -35px;
}
.form-control{
  border-radius: 15px;
  opacity: 0.7;
  height: 35px;
}
.btn{
  border-radius: 15px;
}

.form{
  margin-top: -20px;
  height: 40%;
  padding: 3px;
  border-radius: 20px;
}


label, h1{
  color: #F8F8FF;
}
