<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start" >
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>8:00</td>
        <td>8:15</td>
      </tr>
      <tr>
        <td>8:15</td>
        <td>8:30</td>
      </tr>
    </tbody>
  </table>
</ion-content>
