<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start" >
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-toolbar class="title">
    <ion-title>Agendamento</ion-title>
</ion-toolbar>
<ion-item>
  <ion-label>Selecione o dia:</ion-label>
  <ion-datetime value="" display-format="DD-MM-YYYY" placeholder="Selecione a Data"></ion-datetime>
</ion-item>
<ion-toolbar class="title">
  <ion-title>Horários</ion-title>
  <br>
  <br>
</ion-toolbar>
<ion-list>
  <ion-radio-group>

    <ion-item *ngFor="let hour of hours">
      <ion-label>{{hour | date: 'HH:mm' }}</ion-label>
      <ion-radio slot="start" value="{{hour | date: 'HH:mm' }}" ></ion-radio>
    </ion-item>

  </ion-radio-group>
</ion-list>
</ion-content>
